/* globalhealthjustice customizations */

/* dawgdrops adjustment */
.dawgdrops-item {
  &.dawgdrops-item {
    // main items
    a {
      font-size: 14px;
      &::before {
        top: 13px;
      }
      &:hover {
        &::before {
          transform: rotate(90deg) scale(0.8);
          top: 3px;
        }
      }
      &::after {
        top: 7px;
      }
    }
    // sub-items
    li {
      a {
        font-size: 16px;
      }
    }
  }
}
/* end dawgdrops adjustment */

/* Recent Posts Slider */
// WP Responsive Recent Post Slider/Carousel (https://wordpress.org/plugins/wp-responsive-recent-post-slider/)
// Overrides with extra class wppsac-uwdgh
@content_overlay: rgba(75,46,132,.7);

.wppsac-uwdgh {
  margin-right: -15px;
	margin-left: -15px;

  .wppsac-post-slider {
    .wppsac-post-categories {
      ul.wppsac-post-categories-list {
        li {
          a {
            background: @lightgold;
            padding: 0.375rem 1rem;
            font-size: 14px;
          }
        }
      }
    }
    .wppsac-post-date {
      &::after {
        background: @lightgold;
        width: 20%;
        left: -5px;
        -webkit-transform: skewX(-25deg) skewY(0);
        -o-transform: skewX(-25deg) skewY(0);
        transform: skewX(-25deg) skewY(0);
        -webkit-transform: skew(-25deg, 0);
        -ms-transform: skewX(-25deg) skewY(0);
        transform: skew(-25deg, 0);
      }
      p {
        color: @ultralightgold;
      }
    }
    &.design-1,
    &.design-2,
    &.design-3,
    &.design-3-uwdgh,
    &.design-4 {
      .wppsac-post-image-bg {
        height: 600px;
      }
      a.wppsac-readmorebtn {
        font-size: 18px;
        &:hover {
          background: @purple;
        }
      }
    } // end all design types
    &.design-1,
    &.design-2 {
      .wppsac-post-content-left {
        background: @content_overlay;
      }
    }
    &.design-3,
    &.design-3-uwdgh {
      .wppsac-post-short-content {
        background: @content_overlay;
        height: 35%;
      }
    }
  } // end wppsac-post-slider

  .wppsac-post-carousel {
    .wppsac-post-categories {
      ul.wppsac-post-categories-list {
        li {
          a {
            background: @lightgold;
            padding: 0.375rem 1rem;
            font-size: 14px;
          }
        }
      }
    }
    .wppsac-post-date {
      p {
        color: @ultralightgold;
      }
    }
  } // end wppsac-post-carousel

} // end wppsac-uwdgh

/* su-posts-uw-rest-loop */
.su-posts-uw-rest-loop.su-posts-teaser-loop {
  .su-post {
    font-family: "Encode Sans Compressed", sans-serif;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 1em;
    a {
      text-decoration: none;
      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
  }
}
/* su-posts-uw-blogroll-loop */
.su-posts-uw-blogroll-loop.su-posts-teaser-loop {
  .uw-rest-loop-heading {
    margin-bottom: 0;
  }
  .su-post {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 15px;
    }
  }
  .wp-post-image.attachment-post-thumbnail.blogroll-img {
    margin: 0 15px 10px 0;
    height: 96px;
  }
}
// su-posts-uw-blogroll-loop
/* flickity */
.gallery.js-flickity {
  .gallery-cell {
    height: 320px;
  	width: 50%;
    .cards-widget {
    	margin: 0;
      .boundless-card {
      	max-height: 300px;
        h3 {
        	font-size: 24px;
        	margin-top: 0;
          top: -40px;
        }
      }
    }
    .widget-content {
    	padding: 0 30px 0 30px;
    }
  }
}
