/* back to top button */
a.back-to-top {
  display: none;
  width: 48px;
  height: 48px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 5px;
  bottom: 5px;
  background: #4b2e83 url("up-arrow.png") no-repeat center 43%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  opacity: 0.7; }
a.back-to-top:hover {
    opacity: .9; }
